<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left>
          <button ion-button icon-only color="royal" (click)="closeModal();">
              <ion-icon ios="ios-close-circle-outline"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title text-center>添加锁</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-2> 别名：</ion-col>
            <ion-col col-10><input type="text" [(ngModel)]="lock.alias"/></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2> 锁号：</ion-col>
            <ion-col col-6><input type="text" [(ngModel)]="lock.number"/></ion-col>
            <ion-col col-4 class="scan"><ion-icon ios="ios-qr-scanner"></ion-icon></ion-col>
        </ion-row>
       
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-10><button ion-button class="btn-orange" (click)="add()">确认添加</button></ion-col>
        </ion-row>
    </ion-grid>
  
</ion-content>
